.header-title {
    margin: 0;
    text-transform: uppercase;
}

.offcanvas-header {
    background-color: var(--bs-primary);
}

.offcanvas-title {
    font-weight: bold;
}

.filter-section .form-select {
    width: auto;
    display: inline-block;
}

/* Button unten rechts */
#add-work-time {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

/* Modal Style */
#work-entry-modal {
    display: none; /* Modal standardmäßig ausgeblendet */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    background: var(--bs-secondary-border-subtle);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
}

#edit-work-entry-modal {
    display: none; /* Modal standardmäßig ausgeblendet */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    background: var(--bs-secondary-border-subtle);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
}

/* Hintergrundüberlagerung */
#add-modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}

#edit-modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}

#work-entries-table-header{
    --bs-table-bg: #5a0041;
    font-size: large;
    text-align: center;
    vertical-align: middle;
}

#work-entries{
    text-align: center;
    vertical-align: middle;
}

.shiftColl.frühschicht-cell{
    font-weight: bolder;
    color: #00ff00;
    text-shadow: none;
}

.shiftColl.spätschicht-cell{
    font-weight: bolder;
    color: #fd7e14;
    text-shadow: none;
}

.shiftColl.nachtschicht-cell{
    font-weight: bolder;
    color: #ff0000;
    text-shadow: none;
}

.shiftColl.werkstatt-cell{
    font-weight: bolder;
    color: #0000ff;
    text-shadow: none;
}

.shiftColl.berreitschaft-cell{
    font-weight: bolder;
    color: #d63384;
    text-shadow: none;
}

.shiftColl.lehrgang-cell{
    font-weight: bolder;
    color: #0dcaf0;
    text-shadow: none;
}


#work-entries-table.table-hover{
    --bs-table-hover-bg: #2e0019;
}

.modal-save-button{
    font-weight: bolder;
    margin-top: 10px;
    --bs-btn-bg: #008000;
}

.modal-abort-button{
    font-weight: bolder;
    margin-top: 10px;
    --bs-btn-bg: #cf5d00;
}
.modal-delete-button{
    font-weight: bolder;
    margin-top: 10px;
    --bs-btn-bg: #800000;
}
