/*SECTION - Buttons */
.modal__button--abort{
    font-weight: bolder;
    margin-top: 10px;
    --bs-btn-bg: #cf5d00;
}
.modal__button--delete{
    font-weight: bolder;
    margin-top: 10px;
    --bs-btn-bg: #800000;
}
/*!SECTION - Buttons */


/*SECTION - Calendar */
.calendar__container {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.calendar__grid {
    display: grid;
    grid-template-columns: auto repeat(7, 1fr);
    gap: 1px;
    background-color: var(--bs-gray-800);
    border: 1px solid var(--bs-gray-700);
}


.calendar__cell, .calendar__weekday, .calendar__week {
    background-color: var(--bs-gray-900);
    padding: 10px;
    text-align: center;
    border: 1px solid var(--bs-gray-700);
    position: relative;
    color: var(--bs-light);
}


.calendar__weekday {
    font-weight: bold;
    background-color: var(--bs-gray-800);
}

.calendar__week {
    text-align: left;
    padding-left: 10px;
    background-color: var(--bs-gray-800);
    font-weight: bold;
    color: var(--bs-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar__cell {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.calendar__entry {
    margin-top: 5px;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
}

.calendar__cell--empty {
    background-color: transparent;
    border: none;
}

/* Schichtstile */
.calendar__entry--frühschicht {
    background-color: #006900;
}

.calendar__entry--spätschicht {
    background-color: #ff8c00;
}

.calendar__entry--nachtschicht {
    background-color: #d82f11;
}

.calendar__entry--werkstatt {
    background-color: #1e90ff;
}

.calendar__entry--berreitschaft {
    background-color: #ff4500;
}

.calendar__entry--lehrgang {
    background-color: #9400d3;
}

/* Responsive Anpassungen */
/* @media (max-width: 768px) { */
    /* .calendar__grid { */
        /* grid-template-columns: repeat(2, 1fr); */
    /* } */

    /* .calendar__weekday, .calendar__week { */
        /* display: none; */
    /* } */

    /* .calendar__cell { */
        /* min-height: 80px; */
    /* } */
/* } */
/*!SECTION - Calendar */
