/* SECTION - Bootstrap Override */
/* .btn-success {
    --bs-btn-bg: #008000;
}

.btn-warning {
    --bs-btn-bg: #cf5d00;
} */
/* !SECTION - Bootstrap Override */


/* SECTION - Modals */
/* .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    background: var(--bs-secondary-border-subtle);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
} */

/* .modal__backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1040;
} */
/*!SECTION - Modals */

/*SECTION - Buttons */
.modal__button--abort{
    font-weight: bolder;
    margin-top: 10px;
    --bs-btn-bg: #cf5d00;
}
.modal__button--delete{
    font-weight: bolder;
    margin-top: 10px;
    --bs-btn-bg: #800000;
}
/*!SECTION - Buttons */

/*SECTION - Calendar */
.calendar__container {
    padding: 20px;
}

.calendar__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
}

.calendar__cell {
    position: relative;
    padding: 2px;
    border: 3px solid #85005f;
    background-color: #5a0041;
    border-radius: 5px;
    min-height: 60px;
    display: flex;
    flex-direction: column; /* Stapele die Einträge vertikal */
    justify-content: flex-start;
}

/* Karte für jede Schicht */
.calendar__entry {
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
}

/* Schichtstile */
.calendar__entry--frühschicht {
    background-color: #006900;
}

.calendar__entry--spätschicht {
    background-color: #fd7e14;
}

.calendar__entry--nachtschicht {
    background-color: #ff0000;
}

.calendar__entry--werkstatt {
    background-color: #0000ff;
}

.calendar__entry--berreitschaft {
    background-color: #d63384;
}

.calendar__entry--lehrgang {
    background-color: #0dcaf0;
}
/*!SECTION - Calendar */
