<!DOCTYPE html>
<html lang="de" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Tracker</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Bootstrap CSS -->
    <link id="dark-theme" rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<body>
    <!--//SECTION - Navbar-->
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="light">
            <div class="container-fluid">
                <label class="navbar-brand" href="#">Übersicht</label>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <!--//!SECTION - Navbar-->

    <!--//SECTION - Button (Hinzufügen)-->
    <button type="button" id="add-work-time" class="btn btn-primary btn-lg">
        <i class="bi bi-plus-circle"></i>
    </button>
    <!--//!SECTION - Button (Hinzufügen)-->

    <!--//SECTION - Arbeitseinträge-->
    <h2>Arbeitseinträge:</h2>
    <table id="work-entries-table" class="table table-striped table table-hover">
        <thead>
            <tr class="table-secondary" id="work-entries-table-header">
                <th scope="col" style="display: none;">ID</th>
                <th scope="col">Schicht</th>
                <th scope="col">Beginn</th>
                <th scope="col">Ende</th>
                <th scope="col">Arbeitszeit</th>
            </tr>
        </thead>
        <tbody id="work-entries"></tbody>
    </table>
    <!--//!SECTION - Arbeitseinträge-->

    <!--//SECTION - Modal (Hinzufügen)-->
    <div id="add-modal-backdrop"></div>
    <div id="work-entry-modal">
        <h4>Hinzufügen:</h4>
        <form id="work-entry-form">
            <label for="date">Datum:</label>
            <input type="date" id="date" name="date" class="form-control mb-2" required>

            <label for="shift">Schicht:</label>
            <select id="shift" name="shift" class="form-control mb-2" onchange="setDefaultTimes()">
                <option value="Frühschicht">Frühschicht</option>
                <option value="Spätschicht">Spätschicht</option>
                <option value="Nachtschicht">Nachtschicht</option>
                <option value="Werkstatt">Werkstatt</option>
                <option value="Berreitschaft">Berreitschaft</option>
                <option value="Lehrgang">Lehrgang</option>
            </select>

            <label for="start_time">Schichtbeginn:</label>
            <input type="datetime-local" id="start_time" name="start_time" class="form-control mb-2" required>

            <label for="end_time">Schichtende:</label>
            <input type="datetime-local" id="end_time" name="end_time" class="form-control mb-2" required>

            <button type="button" id="submit-button-add-modal"
                class="btn btn-success w-100 modal-save-button">Speichern</button>
            <button type="button" id="abort-button-add-modal"
                class="btn btn-warning w-100 modal-abort-button">Abbrechen</button>
        </form>
    </div>
    <!--//!SECTION - Modal (Hinzufügen)-->

    <!--//SECTION - Modal (Bearbeiten)-->
    <div id="edit-modal-backdrop"></div>
    <div id="edit-work-entry-modal">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h4>Eintrag Bearbeiten:</h4>
            <div>
                <label>ID:</label>
                <span id="edit-id"></span>
            </div>
        </div>

        <label for="edit-shift">Schicht:</label>
        <select id="edit-shift" name="shift" class="form-control mb-2" onchange="setDefaultTimes()">
            <option value="Frühschicht">Frühschicht</option>
            <option value="Spätschicht">Spätschicht</option>
            <option value="Nachtschicht">Nachtschicht</option>
            <option value="Werkstatt">Werkstatt</option>
            <option value="Berreitschaft">Berreitschaft</option>
            <option value="Lehrgang">Lehrgang</option>
        </select>

        <label for="edit-start-time">Schichtbeginn:</label>
        <input type="datetime-local" id="edit-start-time" name="start_time" class="form-control mb-2" required>

        <label for="edit-end-time">Schichtende:</label>
        <input type="datetime-local" id="edit-end-time" name="end_time" class="form-control mb-2" required>

        <button type="button" id="save-button-edit-modal"
            class="btn btn-success w-100 modal-save-button">Speichern</button>
        <button type="button" id="delete-button-edit-modal"
            class="btn btn-danger w-100 modal-delete-button">Löschen</button>
        <button type="button" id="abort-button-edit-modal"
            class="btn btn-warning w-100 modal-abort-button">Abbrechen</button>
        </form>
    </div>
    <!--//!SECTION - Modal (Bearbeiten)-->

    <!--//SECTION - JavaScript einbinden-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!--//!SECTION - JavaScript einbinden-->
</body>

</html>
